.container {
  display: flex;
  justify-content: center;
  align-items: center;
}




.parent {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2rem;
  justify-content: space-around;
  border: 2px solid black;
} 

.parent > li {
  color: orange; 
  
}